<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/favicon.ico">
 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/css/Admindemo.css?@DateTime.Now" rel="stylesheet" />

    <!-- Bootstrap core CSS     -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css?@DateTime.Now" rel="stylesheet" />

    <!--  Light Bootstrap Dashboard core CSS    -->
    <link href="~/Content/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    
  

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    
    <link href="~/Content/css/pe-icon-7-stroke.css" rel="stylesheet" />
    

    
 
  


</head>
<body>
 
    <div class="wrapper">
        <div class="sidebar" data-color="orange" data-image="~/Images/full-screen-image-3.jpg">
            <!--

                    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                    Tip 2: you can also add an image using data-image tag

                -->

            <div class="logo"> <a href="#" class="logo-text"> Admin Dashboard </a> </div>
            <div class="logo logo-mini"> <a href="#" class="logo-text"> Ct </a> </div>
            <div class="sidebar-wrapper">
                @*<div class="user">
                    <div class="photo"> <img src="~/Images/default-avatar.png" /> </div>
                    <div class="info"> <a data-toggle="collapse" href="#collapseExample" class="collapsed"> Tania Andrew <b class="caret"></b> </a> </div>
                </div>*@
                <ul class="nav">
                    <li>
                        <a href="/admin/index">
                            
                            <p>Pages</p>
                        </a>
                    </li>
                    
                    <li>
                        
                            <a href="/admin/users">
                           
                            <p>Users</p>
                        </a>
                    </li>
                    <li>

                        <a href="/admin/properties">
                          
                            <p>Properties </p>
                        </a>
                    </li>
                   
                   
                   
                    
                    
                </ul>
            </div>
        </div>
   
            <div class="main-panel">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon"> <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i> <i class="fa fa-navicon visible-on-sidebar-mini"></i> </button>
                        </div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="navbar-brand" href="#">Dashboard</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            @*<form class="navbar-form navbar-left navbar-search-form" role="search">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                </div>
                            </form>*@
                            <ul class="nav navbar-nav navbar-right">
                                @*<li>
                                    <a href="../charts.html">
                                        <i class="fa fa-line-chart"></i>
                                        <p>Stats</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-gavel"></i>
                                        <p class="hidden-md hidden-lg"> Actions <b class="caret"></b> </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Create New Post</a></li>
                                        <li><a href="#">Manage Something</a></li>
                                        <li><a href="#">Do Nothing</a></li>
                                        <li><a href="#">Submit to live</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Another Action</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bell-o"></i> <span class="notification">5</span>
                                        <p class="hidden-md hidden-lg"> Notifications <b class="caret"></b> </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa pe-7s-mail"></i>
                                        <p class="hidden-md hidden-lg"> Notifications <b class="caret"></b> </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>*@
                                <li class="dropdown dropdown-with-icons">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-list"></i>
                                        <p class="hidden-md hidden-lg"> More <b class="caret"></b> </p>
                                    </a>
                                    <ul class="dropdown-menu dropdown-with-icons">
                                        @*<li> <a href="#"> <i class="pe-7s-mail"></i> Messages </a> </li>
                                        <li> <a href="#"> <i class="pe-7s-help1"></i> Help Center </a> </li>
                                        <li> <a href="#"> <i class="pe-7s-tools"></i> Settings </a> </li>
                                        <li class="divider"></li>
                                        <li> <a href="#"> <i class="pe-7s-lock"></i> Lock Screen </a> </li>*@
                                        @*<li> <a href="#" class="text-danger"> <i class="pe-7s-close-circle"></i> Log out </a> </li>*@
                                        <li> <a href="~/Home/Logout" class="text-danger"> <i class="pe-7s-close-circle"></i> Log out </a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                @RenderBody()
                <hr />
           
      
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    @*<ul>
                        <li> <a href="#"> Home </a> </li>
                        <li> <a href="#"> Company </a> </li>
                        <li> <a href="#"> Portfolio </a> </li>
                        <li> <a href="#"> Blog </a> </li>
                    </ul>*@
                </nav>
                <p class="copyright pull-right"> &copy; 2016 <a href="http://www.creative-tim.com">Viralized Media</a> </p>
            </div>
        </footer>
    </div>

        </div>
</body>
</html>

                 
     
   
