<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src='//www.googletagmanager.com/ns.html?id=GTM-W6GGGJ'
                height='0' width='0' style='display:none;visibility:hidden'></iframe>
    </noscript>

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W6GGGJ');</script>
    <!-- End Google Tag Manager -->
    <link type='text/css' rel="stylesheet" href="http://agency.zameen.com/templates/template_8/images_css/autofill1_1.css" />
    <link type='text/css' rel="stylesheet" href="http://agency.zameen.com/templates/template_8/images_css/bootstrap.css" />
    <link type='text/css' rel="stylesheet" href="http://agency.zameen.com/templates/template_8/images_css/style.css" />
    <link type='text/css' rel="stylesheet" href="http://agency.zameen.com/templates/template_8/images_css/flexslider.css" />
    <link type='text/css' rel="stylesheet" href="http://agency.zameen.com/templates/template_8/images_css/custom.css" />





    <link type='text/css' rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900" />
    <link type='text/css' rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic" />
    <title>
        Welcome - Chohan Builders & Associates
    </title>
    <meta name="description" content="This is the description of my site." />
    <meta name="keywords" content="my,site,real,estate" />
    <script src="http://agency.zameen.com/templates/template_8/js/lang.js"></script>

    <!--[if lt IE 9]><script src="http://agency.zameen.com/templates/template_8/js/ie_warning.js"></script><![endif]-->
    <script>
        var URL_PATH = new Array();
        URL_PATH['template'] = "http://agency.zameen.com/templates";
        URL_PATH['cache_data'] = "http://agency.zameen.com/cache/v3/data/en/locations";
        URL_PATH['site'] = "http://www.chohan.com.pk";
        URL_PATH['mail'] = "http://www.chohan.com.pk/mail.php";

    </script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/bootstrap.js"></script>
    <style>
        .topbar {
            background: #383467 none repeat scroll 0% 0%;
            border-top: 3px solid #A6A4A7;
            border-bottom: 1px solid #A6A4A7;
        }

        .navbar-default .navbar-nav > li > a:hover, #nav-current {
            background-color: #383467;
            color: #FFF;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
            border-top: solid 2px #A6A4A7;
        }

        .btn-primary {
            background: #A6A4A7 none repeat scroll 0% 0% !important;
            border-color: #A6A4A7 !important;
        }


        .hovicon.effect-1::after {
            box-shadow: 0 0 0 4px #383467;
        }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, #help a, .hovicon.effect-1.sub-a:hover, .hovicon.effect-1.sub-a:hover i, .hovicon.effect-1, .hovicon.effect-1.sub-a:hover, .flex-direction-nav a, #tabbed_widget .nav-tabs > li > a:hover, #tabbed_widget .nav-tabs > li > a:active, #tabbed_widget .nav-tabs > li > a:focus, #tabbed_widget .nav-tabs > li.active > a, #tabbed_widget .nav-tabs > li.active > a:hover, #tabbed_widget .nav-tabs > li.active > a:focus, .navbar-blue .navbar-toggle:hover, .navbar-blue .navbar-toggle:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-blue, .boxes_img .box_type, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .ps-mini-desc .price, .blog-wrap div.post-date span.month, .ps-desc .price {
            background-color: #383467;
            color: #FFF;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
        }


        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], mark, #support a, .bs-glyphicons li:hover, .boxes_img .status_type, .ps-mini-desc .status, .ps-desc .status, .pricing-table > .price .name, ul.real-estate-cats-widget li ul li::before {
            background-color: #A6A4A7;
            color: #FFF;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
        }



        .fhmm .dropdown-menu > li > a:hover, .fhmm .dropdown-menu > li > a:focus, .searchmodule {
            background-color: #19B8DF;
            background: linear-gradient(#A6A4A7,#383467);
        }

        a, .panel-title i, .check li::before, .ps-desc h3 a:hover, .widget h3 i, .widget ul.tweet li a, div.popup ul li a:hover, div.popup ul li a:focus, div.popup ul li a:active {
            color: #383467;
        }

        .message_banner {
            background: #383467 none repeat scroll 0% 0%;
            display: block;
            font-size: 26px;
            margin: 0px auto;
            color: #FFF;
            padding: 50px 0px;
            position: relative;
            text-align: left;
            width: 100%;
        }

        .copyright {
            border-top: 1px solid #383467;
            background: #A6A4A7 none repeat scroll 0% 0%;
        }

            .copyright small, .footer1, .footer1 p, .footer1 a {
                color: white;
            }

        .footer1 {
            padding: 30px;
            background: black;
            position: relative;
        }

            .footer1 a {
                color: white;
            }



        .btn-primary {
            background: #A6A4A7 none repeat scroll 0% 0% !important;
            border-color: #A6A4A7 !important;
            box-shadow: 2px 2px 5px #A6A4A7;
        }

        .fhmm .dropdown-menu > li > a:hover, .fhmm .dropdown-menu > li > a:focus, .searchmodule {
            background: transparent linear-gradient(#A6A4A7, #383467) repeat scroll 0% 0%;
            box-shadow: 2px 2px 5px #383467;
            border-radius: 0px 0px 50px 50px;
            border-bottom: solid 5px #A6A4A7;
        }

        a:hover, a:focus {
            color: #A6A4A7;
        }

        .site-name {
            line-height: 30px;
            font-size: 30px;
            font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    </style>
</head>
<body>
    <div class="topbar clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="callus">
                        <p>
                            <span>
                                <span class="bg-ico envelope-ico"></span>
                                <a href="mailto:arfan.chohan@gmail.com">
                                    arfan.chohan@gmail.com
                                </a>

                            </span>
                            <span>
                                <span class="bg-ico phone-ico"></span>
                                +92-111-248
                            </span>
                        </p>
                    </div>
                    <!-- end callus-->
                </div>
                <!-- end col-lg-6 -->
                <ul class="topmenu pull-right">
                    <li><a href="~/Home/Index"> <span class="bg-ico home-white-ico"></span>Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal"> <span class="bg-ico home-white-ico"></span>Login</a></li>
                    <li><a href="" data-toggle="modal" data-target="#signup"> <span class="bg-ico home-white-ico"></span>SignUp</a></li>
                    @*<li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button></li>*@
                </ul>
                <!-- topmenu -->
            </div>
            <!-- end marketing -->
        </div>
        <!-- end col-lg-6 -->
    </div>
    <!-- end row -->
    </div>
    <!-- end container -->
    </div>
    <!-- end topbar -->
    <header class="header1">
        <div class="container">
            <div class="row header-row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="logo-wrapper clearfix">
                        <div class="logo">
                            <a href="http://www.chohan.com.pk" title="Chohan Builders & Associates">
                                <!--<img src="https://images.zameen.com/common/resize.php?d=80&img=505/155463/site_logo.jpg" alt="Chohan Builders & Associates">-->
                                <img src="https://images.zameen.com/common/resize.php?d=80&img=505/155463/site_logo.jpg" alt="Chohan Builders & Associates" />
                            </a>

                        </div>
                        <div class="title-slogan">
                            <div class="site-name">
                                <a href="http://www.chohan.com.pk" title="Chohan Builders & Associates" class="brand">
                                    Chohan Builders & Associates
                                </a>
                            </div>
                            <!-- /.site-name -->
                            <div class="site-slogan">
                                <span>
                                    Exceeding Expectations
                                </span>
                            </div>
                        </div>

                        <!-- /.site-slogan -->
                    </div>
                    <!-- /.logo-wrapper -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 a_mid">
                    <div class="message">
                        <a class="btn btn-primary btn-block btn-lg" href="http://www.chohan.com.pk/landlords.html">
                            <span class="bg-ico home-white-ico-1x"></span>
                            List Your Property
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <nav class="navbar navbar-default fhmm" role="navigation">
            <div class="menudrop container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <!-- end navbar-header -->
                <div id="defaultmenu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown fhmm-fw ">
                            </i><a id="nav-current" href="~/Home/Index">
                                Home
                            </a>
                        </li>
                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/Forsale">
                                For Sale
                            </a>
                        </li>
                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/rent">
                                To Rent
                            </a>
                        </li>
                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/landlords">
                                Landlords
                            </a>
                        </li>
                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/Ceo">
                                CEO Message
                            </a>
                        </li>
                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/About">
                                About US
                            </a>
                        </li>
                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/staff">
                                Staff
                            </a>
                        </li>

                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/Jobs">
                                Jobs
                            </a>
                        </li>
                        <li class="dropdown fhmm-fw ">
                            </i><a href="~/Home/Contact">
                                Contact Us
                            </a>
                        </li>
                        @*<li class="dropdown fhmm-fw ">
                                </i><a href="http://www.chohan.com.pk/maps.html">
                                    Maps
                                </a>
                            </li>*@
                    </ul>
                </div>
                <!-- end #navbar-collapse-1 -->
            </div>
            <!-- end dm_container -->
        </nav>
        <!-- end navbar navbar-default fhmm -->
        </div>
        <!-- end container -->
    </header>
    <!-- end header -->
    @RenderBody()
    <footer class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 first clearfix ">
                    <div class="widget clearfix">
                        <div class="title">
                            <h3>
                                <i class="bg-ico globe-orange-ico"></i>
                                Useful links
                            </h3>
                            <hr>
                        </div>
                        <ul class="list">
                            <li class="last leaf">
                                <a href="http://www.chohan.com.pk/aboutus.html">
                                    About Us
                                </a>
                            </li>
                            <li class="last leaf">
                                <a href="http://www.chohan.com.pk/contactus.html">
                                    Contact Us
                                </a>
                            </li>
                            <li class="last leaf">
                                <a href="http://www.chohan.com.pk/privacy.html">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="last leaf">
                                <a href="http://www.chohan.com.pk/terms.html">
                                    Terms of Usage
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end col-lg-3 -->
                <!-- end col-lg-3 -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xs-12 clearfix para-justify">
                    <div class=" widget clearfix">
                        <div class="title">
                            <h3>
                                <i class="bg-ico home-orange-ico" "></i>
                            </h3>
                            <hr>
                        </div>
                        <p>
                        </p>
                        <a href="http://www.chohan.com.pk/aboutus.html" class="btn btn-primary btn-sm">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xs-12 clearfix para-justify">
                    <div class="widget clearfix">
                        <div class="title">
                            <h3>
                                <i class="bg-ico news-orange-ico"></i>
                                Latest News
                            </h3>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-4 -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xs-12 clearfix">
                    <div class="widget clearfix">
                        <div class="title">
                            <h3>
                                <i class="bg-ico phone-orange-ico"></i>
                                Contact Us
                            </h3>
                            <hr>
                        </div>
                        <table class="table home_contact_tbl">
                            <tbody>
                                <tr>
                                    <th class="address">Address                  :</th>
                                    <td>Office NO 10-A, Sector C, commercial, Bahria Town, Lahore.</td>
                                </tr>
                                <tr>
                                    <th class="phone">Phone                  :</th>
                                    <td>+92-111-248<br />                  +92-3214647888                </td>
                                </tr>
                                <tr>
                                    <th class="email">E-mail                  :</th>
                                    <td>
                                        <a href="mailto:arfan.chohan@gmail.com">
                                            arfan.chohan@gmail.com
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="gps">GPS                  :</th>
                                    <td>
                                        31.374023517440154                  <br>
                                        74.19190406624693
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end col-lg-3 -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </footer>
    <!-- footer1 -->
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 pwd_logo">
                    <p><a href="http://www.zameen.com" rel="nofollow"><img src="http://agency.zameen.com/templates/template_8/images_css/pwrd_logo_2.png" alt="Zameen.com" title="Zameen.com"></a></p>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="social clearfix pull-right">
                        <span><a data-placement="top" data-toggle="tooltip" data-original-title="Facebook" title="" href="https://www.facebook.com/Chohan-Builders-Associates-Bahria-Town-722807061162721/?ref=bookmarks"><i class="social-ico facebook-ico"></i></a></span>
                    </div>
                    <!-- end social -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form method="post" action="~/Home/verifyUser">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login Form</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" name="pwd">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default" value="Submit" />
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="modal fade" id="signup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form method="post" action="~/Home/addUser">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sign Up Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email">Username:</label>
                            <input type="text" class="form-control" name="uname">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" name="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Cell:</label>
                            <input type="text" class="form-control" name="cell">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default" value="Submit" />
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- end copyright -->
    <!-- Bootstrap core and JavaScript's
        ================================================== -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.unveilEffects.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/retina-1.1.0.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/fhmm.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/application.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/scripts.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/autofill.js"></script>

    <!-- FlexSlider JavaScript
        ================================================== -->
    <!--
    <script>
            $(window).load(function() {
                $('#carousel').flexslider({
                    animation: "slide",
                    controlNav: true,
                    directionNav: false,
                    animationLoop: true,
                    slideshow: true,
                    itemWidth: 114,
                    itemMargin: 0,
                    asNavFor: '#slider'
                });

                $('#slider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: true,
                    sync: "#carousel"
                });

                $('#property-slider .flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 6000,
                    animationSpeed:	1300,
                    directionNav: true,
                    controlNav: false,
                    keyboardNav: true
                });
            });
        </script>
         -->
    <script type='text/javascript'>
        $(window).load(function () {
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: true,
                directionNav: false,
                animationLoop: true,
                slideshow: true,
                itemWidth: 114,
                itemMargin: 0,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "fade",
                controlNav: false,
                animationLoop: false,
                slideshow: true,
                sync: "#carousel"
            });

            $('#property-slider .flexslider').flexslider({
                animation: "fade",
                slideshowSpeed: 6000,
                animationSpeed: 1300,
                directionNav: true,
                controlNav: false,
                keyboardNav: true
            });
        });</script>
</body>
</html>