@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByKk8APIoz_CTWQ91kmAhekNRw2M4Y78k&callback=initMap"></script>

    <section class="post-wrapper-top dm-shadow clearfix">
        <div class="container">
            <div class="post-wrapper-top-shadow"> <span class="s1"></span> </div>
            <div class="col-lg-12 page-heading">
                <h2>
                    Contact Us
                </h2>
            </div>
        </div>
    </section>
    <section class="generalwrapper dm-shadow clearfix">
        <div class="container">
            <div class="row">
                <!-- #left_sidebar -->
                <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12  clearfix para-justify">
                    <section class=" p-top generalwrapper clearfix">
                        <div class="container">
                            <div class="row text-center">
                                <div class="services_section head_contact_info clearfix">
                                    <!--Main Contact Details-->
                                    <div class="contact_us_img"> <img src="https://images.zameen.com/common/resize.php?r=1&w=870&h=500&img=503/155463/office_main.jpg" class="office-pic" /> </div>
                                    <p class="message">
                                        If you are interested in any specific property, do not hesitate to contact our real estate experts. For more Information visit our office.
                                    </p>
                                    <div class="contact-service-container">
                                        <div id="" class="col-lg-3 col-md-3 col-xs-12 contact_us_section">
                                            <div class="servicebox first">
                                                <div class="service-icon">
                                                    <div class="dm-icon-effect-1" data-effect="slide-bottom"> <i class="hovicon effect-1 sub-a  hovicon-contact"><span class="bg-ico service-list-ico"></span></i></div>
                                                </div>
                                                <div class="servicetitle">
                                                    <h3> Address </h3>
                                                </div>
                                                <p>
                                                    Office NO 10-A, Sector C, commercial, Bahria Town, Lahore.
                                                </p>
                                            </div>
                                        </div>
                                        <div id="" class="col-lg-3 col-md-3 col-xs-12 contact_us_section">
                                            <div class="servicebox">
                                                <div class="service-icon">
                                                    <div class="dm-icon-effect-1" data-effect="slide-bottom"> <i class="hovicon effect-1 sub-a hovicon-contact"><span class="bg-ico service-phone-ico"></span></i> </div>
                                                </div>
                                                <div class="servicetitle">
                                                    <h3>
                                                        Call us
                                                    </h3>
                                                </div>
                                                <p>
                                                    +92-111-248 </br>
                                                    +92-3214647888 </br>
                                                </p>
                                            </div>
                                        </div>
                                        <div id="" class="col-lg-3 col-md-3 col-xs-12 contact_us_section">
                                            <div class="servicebox">
                                                <div class="service-icon">
                                                    <div class="dm-icon-effect-1" data-effect="slide-bottom"><i class="hovicon effect-1 sub-a hovicon-contact"><span class="bg-ico service-email-ico"></span></i></div>
                                                </div>
                                                <div class="servicetitle">
                                                    <h3>
                                                        E-mail
                                                    </h3>
                                                </div>
                                                <p>
                                                    <a style="display: inline-block;float:none;" href="mailto:arfan.chohan@gmail.com">
                                                        arfan.chohan@gmail.com
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Branches-->
                                    <!-- services_section -->
                                </div>
                                <div id="my-map"> </div>
                                <div class="clear"></div>
                            </div>

                            <!-- end container -->
                    </section>
                    <!--Loop for branches -->
                    <div class="loop-container">
                        <h1 class="page-header branches-heading">
                            Branches
                        </h1>
                        <h2>
                            Chohan Builders and Associate
                        </h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div id="my-small-map0" class="my-small-map"> </div>
                            </div>
                        </div>
                        <!--Section Condition-->
                        <div id="" class="col-lg-4 col-md-4 col-xs-12 contact_us_section">
                            <div class="servicebox first">
                                <div class="service-icon">
                                    <div class="dm-icon-effect-1" data-effect="slide-bottom"><i class="hovicon effect-1 sub-a  hovicon-contact"><span class="bg-ico service-list-ico"></span></i></div>
                                </div>
                                <div class="servicetitle">
                                    <h3>
                                        Address
                                    </h3>
                                </div>
                                <p>
                                    Bahria Orchard
                                </p>
                            </div>
                        </div>
                        <div id="" class="col-lg-4 col-md-4 col-xs-12 contact_us_section">
                            <div class="servicebox">
                                <div class="service-icon">
                                    <div class="dm-icon-effect-1" data-effect="slide-bottom"> <i class="hovicon effect-1 sub-a hovicon-contact"><span class="bg-ico service-email-ico"></span></i></a> </div>
                                </div>
                                <div class="servicetitle">
                                    <h3>
                                        E-mail
                                    </h3>
                                </div>
                                <p>
                                    <a style="display: inline-block;float:none;" href="mailto:arfan.chohan@gmail.com">
                                        arfan.chohan@gmail.com
                                    </a>
                                </p>
                            </div>

                        </div>

                        <div class="clear-float"></div>
                        <div class="border-end"></div>

                    </div>

                </div>
                <!-- end content -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last clearfix">
                    <div id="contact-box" class="seperate-box clearfix" data-effect="slide-right">
                        <h1>Contact Us</h1>
                        <div class="contact_form_holder">
                            <form  class=""  method="post" action="~/Home/contatemail">
                                <div class="span4">
                                    <label>
                                        Name <span class="req">
                                            <i>
                                                (
                                                required            )
                                            </i>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" name="fname" required>
                                </div>
                                <div class="span4">
                                    <label>
                                        E-mail <span class="req">
                                            <i>
                                                (
                                                required            )
                                            </i>
                                        </span>
                                    </label>
                                    <input type="email" class="form-control" required name="email" >
                                    <div id="error_email" class="error"></div>
                                </div>
                                <div class="span8">
                                    <label>
                                        Message <i>
                                            (
                                            required            )
                                        </i>
                                    </label>
                                    <textarea cols="6" rows="6" name="message" required class="form-control message-details"></textarea>
                                    <div id="error_message" class="error"></div>
                                    <div id="mail_success" class="success"></div>
                                    <div id="mail_failed" class="error"></div>
                                    

                                </div>
                                <div class="span4 clear-float pos_rel">
                                    <input  type="submit" class="btn btn-primary blue-btn agent_detailpop" />
                                    <div class="errors_in_div"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
               
            </div>
            <!-- end of widget -->
        </div>
        <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!--[if lt IE 9]><script>(function(){e("http://agency.zameen.com/templates/template_8/images_css/")})()</script><![endif]-->
  
    <!-- footer1 -->
    
    <!-- end copyright -->
    <!-- Bootstrap core and JavaScript's
        ================================================== -->
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.unveilEffects.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/fhmm.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/application.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/mymap.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/lang.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/autofill.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/scripts.js"></script>

    <!-- FlexSlider JavaScript
        ================================================== -->
    <!--
    <script>
            $(window).load(function() {
                $('#carousel').flexslider({
                    animation: "slide",
                    controlNav: true,
                    directionNav: false,
                    animationLoop: true,
                    slideshow: true,
                    itemWidth: 114,
                    itemMargin: 0,
                    asNavFor: '#slider'
                });

                $('#slider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: true,
                    sync: "#carousel"
                });

                $('#property-slider .flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 6000,
                    animationSpeed:	1300,
                    directionNav: true,
                    controlNav: false,
                    keyboardNav: true
                });
            });
        </script>
         -->
    <script type='text/javascript'>google_map_3(31.374023517440154,74.19190406624693,'my-map',0,'','Office NO 10-A, Sector C, commercial, Bahria Town, Lahore.');google_map_3(31.314934265200403,74.20287609274965,'my-small-map',1,0,'Bahria Orchard');</script>
