
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <section class="post-wrapper-top dm-shadow clearfix">
        <div class="container">
            <div class="post-wrapper-top-shadow">
                <span class="s1"></span>
            </div>
            <div class="col-lg-12 page-heading">
                <h2>Please contact us to get your property properly evaluated</h2>
            </div>
        </div>
    </section>

    <section class="generalwrapper dm-shadow clearfix">
        <div class="container">
            <div class="row">
                <!-- #left_sidebar -->
                <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
                    <div class="">

                        <p>Please feel free to send information of your properties for accurate valuation and comprehensive guidance.</p>
                        <form enctype="multipart/form-data" action="~/Home/addProperty" method="post" >
                           Image <input type="file" title="search image" required id="file" name="file"  /> 
                            <label>City <em>(required)</em></label>
                            <div>
                                <select name="city" required  class="show-menu-arrow selectpicker">                                   
                                    <option value="Lahore">Lahore</option>
                                    <option value="Karachi">Karachi</option>
                                    <option value="Islamabad">Islamabad</option>                                 
                                    <option value="Abbottabad">Abbottabad</option>
                                    <option value="Abdul Hakim">Abdul Hakim</option>
                                    <option value="Alipur">Alipur</option>
                                    <option value="Arifwala">Arifwala</option>
                                    <option value="Astore">Astore</option>
                                    <option value="Attock">Attock</option>
                                    <option value="Awaran">Awaran</option>
                                    <option value="Badin">Badin</option>
                                    <option value="Bagh">Bagh</option>
                                    <option value="Bahawalnagar">Bahawalnagar</option>
                                    <option value="Bahawalpur">Bahawalpur</option>
                                    <option value="Bannu">Bannu</option>
                                    <option value="Bhakkar">Bhakkar</option>
                                    <option value="Bhalwal">Bhalwal</option>
                                    <option value="Bhimber">Bhimber</option>
                                    <option value="Buner">Buner</option>
                                    <option value="Burewala">Burewala</option>
                                    <option value="Chaghi">Chaghi</option>
                                    <option value="Chakwal">Chakwal</option>
                                    <option value="Chichawatni">Chichawatni</option>
                                    <option value="Chiniot">Chiniot</option>
                                    <option value="Chishtian Sharif">Chishtian Sharif</option>
                                    <option value="Chitral">Chitral</option>
                                    <option value="Chunian">Chunian</option>
                                    <option value="Dadu">Dadu</option>
                                    <option value="Daska">Daska</option>
                                    <option value="Depalpur">Depalpur</option>
                                    <option value="Dera Ghazi Khan">Dera Ghazi Khan</option>
                                    <option value="Dera Ismail Khan">Dera Ismail Khan</option>
                                    <option value="Dijkot">Dijkot</option>
                                    <option value="Duniya Pur">Duniya Pur</option>
                                    <option value="Faisalabad">Faisalabad</option>
                                    <option value="FATA">FATA</option>
                                    <option value="Fateh Jang">Fateh Jang</option>
                                    <option value="Gaarho">Gaarho</option>
                                    <option value="Galyat">Galyat</option>
                                    <option value="Ghotki">Ghotki</option>
                                    <option value="Gilgit">Gilgit</option>
                                    <option value="Gojra">Gojra</option>
                                    <option value="Gujar Khan">Gujar Khan</option>
                                    <option value="Gujranwala">Gujranwala</option>
                                    <option value="Gujrat">Gujrat</option>
                                    <option value="Gwadar">Gwadar</option>
                                    <option value="Hafizabad">Hafizabad</option>
                                    <option value="Haripur">Haripur</option>
                                    <option value="Haroonabad">Haroonabad</option>
                                    <option value="Hasilpur">Hasilpur</option>
                                    <option value="Hassan Abdal">Hassan Abdal</option>
                                    <option value="Haveli Lakha">Haveli Lakha</option>
                                    <option value="Hub (Hub Chowki)">Hub (Hub Chowki)</option>
                                    <option value="Hunza">Hunza</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Islamabad">Islamabad</option>
                                    <option value="Jacobabad">Jacobabad</option>
                                    <option value="Jahanian">Jahanian</option>
                                    <option value="Jalalpur Jattan">Jalalpur Jattan</option>
                                    <option value="Jampur">Jampur</option>
                                    <option value="Jauharabad">Jauharabad</option>
                                    <option value="Jhang">Jhang</option>
                                    <option value="Jhelum">Jhelum</option>
                                    <option value="Kaghan">Kaghan</option>
                                    <option value="Kahror Pakka">Kahror Pakka</option>
                                    <option value="Kalat">Kalat</option>
                                    <option value="Kamalia">Kamalia</option>
                                    <option value="Kamoki">Kamoki</option>
                                    <option value="Karachi">Karachi</option>
                                    <option value="Karak">Karak</option>
                                    <option value="Kasur">Kasur</option>
                                    <option value="Khairpur">Khairpur</option>
                                    <option value="Khanewal">Khanewal</option>
                                    <option value="Khanpur">Khanpur</option>
                                    <option value="Kharian">Kharian</option>
                                    <option value="Khushab">Khushab</option>
                                    <option value="Khuzdar">Khuzdar</option>
                                    <option value="Kohat">Kohat</option>
                                    <option value="Kot Addu">Kot Addu</option>
                                    <option value="Kotli">Kotli</option>
                                    <option value="Lahore">Lahore</option>
                                    <option value="Lakki Marwat">Lakki Marwat</option>
                                    <option value="Lalamusa">Lalamusa</option>
                                    <option value="Larkana">Larkana</option>
                                    <option value="Lasbela">Lasbela</option>
                                    <option value="Layyah">Layyah</option>
                                    <option value="Lodhran">Lodhran</option>
                                    <option value="Loralai">Loralai</option>
                                    <option value="Lower Dir">Lower Dir</option>
                                    <option value="Mailsi">Mailsi</option>
                                    <option value="Makran">Makran</option>
                                    <option value="Malakand">Malakand</option>
                                    <option value="Mandi Bahauddin">Mandi Bahauddin</option>
                                    <option value="Mansehra">Mansehra</option>
                                    <option value="Mardan">Mardan</option>
                                    <option value="Matiari">Matiari</option>
                                    <option value="Mian Channu">Mian Channu</option>
                                    <option value="Mianwali">Mianwali</option>
                                    <option value="Mingora">Mingora</option>
                                    <option value="Mirpur">Mirpur</option>
                                    <option value="Mirpur Khas">Mirpur Khas</option>
                                    <option value="Mirpur Sakro">Mirpur Sakro</option>
                                    <option value="Multan">Multan</option>
                                    <option value="Murree">Murree</option>
                                    <option value="Muzaffarabad">Muzaffarabad</option>
                                    <option value="Muzaffargarh">Muzaffargarh</option>
                                    <option value="Nankana Sahib">Nankana Sahib</option>
                                    <option value="Naran">Naran</option>
                                    <option value="Narowal">Narowal</option>
                                    <option value="Nasirabad">Nasirabad</option>
                                    <option value="Naushahro Feroze">Naushahro Feroze</option>
                                    <option value="Nawabshah">Nawabshah</option>
                                    <option value="Neelum">Neelum</option>
                                    <option value="Nowshera">Nowshera</option>
                                    <option value="Okara">Okara</option>
                                    <option value="Others">Others</option>
                                    <option value="Others Azad Kashmir">Others Azad Kashmir</option>
                                    <option value="Others Balochistan">Others Balochistan</option>
                                    <option value="Others Gilgit Baltistan">Others Gilgit Baltistan</option>
                                    <option value="Others Khyber Pakhtunkhwa">Others Khyber Pakhtunkhwa</option>
                                    <option value="Others Punjab">Others Punjab</option>
                                    <option value="Others Sindh">Others Sindh</option>
                                    <option value="Pakpattan">Pakpattan</option>
                                    <option value="Peshawar">Peshawar</option>
                                    <option value="Pind Dadan Khan">Pind Dadan Khan</option>
                                    <option value="Pir Mahal">Pir Mahal</option>
                                    <option value="Quetta">Quetta</option>
                                    <option value="Rahim Yar Khan">Rahim Yar Khan</option>
                                    <option value="Rajanpur">Rajanpur</option>
                                    <option value="Ratwal">Ratwal</option>
                                    <option value="Rawalkot">Rawalkot</option>
                                    <option value="Rawalpindi">Rawalpindi</option>
                                    <option value="Rohri">Rohri</option>
                                    <option value="Sadiqabad">Sadiqabad</option>
                                    <option value="Sahiwal">Sahiwal</option>
                                    <option value="Samundri">Samundri</option>
                                    <option value="Sanghar">Sanghar</option>
                                    <option value="Sargodha">Sargodha</option>
                                    <option value="Sehwan">Sehwan</option>
                                    <option value="Shahdadpur">Shahdadpur</option>
                                    <option value="Sheikhupura">Sheikhupura</option>
                                    <option value="Shikarpur">Shikarpur</option>
                                    <option value="Shorkot">Shorkot</option>
                                    <option value="Sialkot">Sialkot</option>
                                    <option value="Sibi">Sibi</option>
                                    <option value="Skardu">Skardu</option>
                                    <option value="Sudhnoti">Sudhnoti</option>
                                    <option value="Sukkur">Sukkur</option>
                                    <option value="Swabi">Swabi</option>
                                    <option value="Swat">Swat</option>
                                    <option value="Tando Adam">Tando Adam</option>
                                    <option value="Tando Allahyar">Tando Allahyar</option>
                                    <option value="Taxila">Taxila</option>
                                    <option value="Thatta">Thatta</option>
                                    <option value="Toba Tek Singh">Toba Tek Singh</option>
                                    <option value="Vehari">Vehari</option>
                                    <option value="Wah">Wah</option>
                                    <option value="Wazirabad">Wazirabad</option>
                                    <option value="Waziristan">Waziristan</option>
                                    <option value="Zhob">Zhob</option>
                                </select>
                            </div>
                            <label>Purpose <em>(required)</em></label>
                            <select name="purpose" required  class="show-menu-arrow selectpicker">                                
                                <option value="For Sale">For Sale</option>
                                <option value="To Rent">To Rent</option>
                            </select>
                            <label>Type <em>(required)</em></label>
                            <select name="type" required  class="show-menu-arrow selectpicker">                               
                                <option value="Houses">Houses</option>
                                <option value="Flats">Flats</option>
                                <option value="Upper Portions">Upper Portions</option>
                                <option value="Lower Portions">Lower Portions</option>
                                <option value="Farm Houses">Farm Houses</option>
                                <option value="Rooms">Rooms</option>
                                <option value="Penthouse">Penthouse</option>
                                <option value="Residential Plots">Residential Plots</option>
                                <option value="Plot Files">Plot Files</option>
                                <option value="Commercial Plots">Commercial Plots</option>
                                <option value="Agricultural Land">Agricultural Land</option>
                                <option value="Plot Forms">Plot Forms</option>
                                <option value="Industrial Land">Industrial Land</option>
                                <option value="Offices">Offices</option>
                                <option value="Shops">Shops</option>
                                <option value="Warehouses">Warehouses</option>
                                <option value="Factories">Factories</option>
                                <option value="Buildings">Buildings</option>
                                <option value="Other">Other</option>
                            </select>

                            <label>Asking Price (PKR) <em>(required)</em></label>
                            <input type="text" required name="price" id="ll_price" class="form-control">

                            <label>Bedrooms</label>
                            <select name="beds" required class="show-menu-arrow selectpicker">                               
                                <option value="-1">Studio</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10+">10+</option>
                            </select>
                            <label>Bathrooms</label>
                            <select name="bath" required class="show-menu-arrow selectpicker">                      
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10+">10+</option>
                            </select>

                            <label>Covered Area</label>
                            <input type="text" name="area" required class="form-control">

                            <label>Unit</label>
                            <select name="area_unit" class="show-menu-arrow selectpicker">
                            
                                <option selected value="Marla">Marla</option>
                                @*<option value="Kanal">Kanal</option>*@
                            </select>

                            <label>Property Address</label>
                            <textarea rows="3" required name="address" class="form-control address-text"></textarea>

                            <label>Property Description</label>
                            <textarea rows="3" name="des" required class="form-control address-text"></textarea>

                            <h3>Contact Details</h3>

                            <label>Contact Person</label>
                            <input type="text" name="person_name" required class="form-control">

                            <label>Email <em>(required)</em></label>
                            <input type="text" name="email" required class="form-control">

                            <label>Phone <em>(required)</em></label>
                            <input type="text" name="phone" required class="form-control">

                            <label>Cell</label>
                            <input type="text" name="cell" required class="form-control">

                            <label>Fax</label>
                            <input type="text" name="fax" required class="form-control">

                            

                            <div class="span4 clear-float pos_rel">
                                <input  type="submit" class="btn btn-primary blue-btn agent_detailpop" />
                                <div class="errors_in_div"></div>
                            </div>
                        </form><!-- end search form -->
                    </div><!-- end property_wrapper -->
                </div>


                <!-- end content -->
               
                <!-- end of widget -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!--[if lt IE 9]><script>(function(){e("http://agency.zameen.com/templates/template_8/images_css/")})()</script><![endif]-->
 
    <!-- end copyright -->
    <!-- Bootstrap core and JavaScript's
        ================================================== -->
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.unveilEffects.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/fhmm.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/application.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/lang.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/autofill.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/scripts.js"></script>

    <!-- FlexSlider JavaScript
        ================================================== -->
    <!--
    <script>
            $(window).load(function() {
                $('#carousel').flexslider({
                    animation: "slide",
                    controlNav: true,
                    directionNav: false,
                    animationLoop: true,
                    slideshow: true,
                    itemWidth: 114,
                    itemMargin: 0,
                    asNavFor: '#slider'
                });

                $('#slider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: true,
                    sync: "#carousel"
                });

                $('#property-slider .flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 6000,
                    animationSpeed:	1300,
                    directionNav: true,
                    controlNav: false,
                    keyboardNav: true
                });
            });
        </script>
         -->
