@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!-- end header -->

    <section class="post-wrapper-top dm-shadow clearfix">
        <div class="container">
            <div class="post-wrapper-top-shadow"> <span class="s1"></span> </div>
            <div class="col-lg-12 page-heading">
                <h2>
                    Gray Structure House Available For Sale
                </h2>
            </div>
        </div>
    </section>
    <section class="generalwrapper dm-shadow clearfix">
        <div class="container">
            <div class="row">
                <!-- #left_sidebar -->
                <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12  clearfix para-justify">
                    <div class="property_wrapper boxes clearfix">

                        <div id="property-view-slider" class="boxes_img">
                            <div id="slider" class="flexslider clearfix">
                                <ul class="slides">
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153390_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153396_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153423_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153428_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153431_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153435_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153438_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                    <li>

                                        <img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153441_4436439.jpg&d=700&r=1&w=700&h=400&aw=1" alt="">
                                    </li>
                                </ul>
                            </div>
                            <div id="carousel" class="flexslider clearfix">
                                <ul id="prop-crousel" class="slides">
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153390_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153396_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153423_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153428_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153431_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153435_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153438_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                    <li class=""><img class="img-thumbnail" src="https://images.zameen.com/common/resize.php?img=4/11153441_4436439.jpg&d=295&r=1&w=295&h=295&aw=1" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div id="location-title" class="title clearfix">

                            <h2><small>Bahria Town, Lahore</small></h2>
                        </div>
                        <!-- end title -->
                        <div class="property_desc clearfix">

                            <p>
                                House for sale Block CC
                                Having 5 Beds.
                                Attached Baths.
                                Double Kitchen.
                                Drawing.
                                Dinning.
                                Servant Quarter with Bath.
                                Corner
                                Near To Main Park.
                                Near to Markit.
                                40 ft Road + 80 ft Road.
                                Beautiful Location.
                                Very Reasonable Price.
                                Golden Chance.
                                Reasonable price.
                                Please contact us for more details.
                            </p>
                        </div>
                        <div class="">
                            <table class="table table-hover">
                                <tbody>

                                    <tr>
                                        <th>Price                    :</th>
                                        <td>PKR&nbsp;10,500,000</td>
                                    </tr>

                                    <tr>
                                        <th>Purpose                    :</th>
                                        <td>Buy</td>
                                    </tr>
                                    <tr>
                                        <th>Type                      :</th>
                                        <td>House</td>
                                    </tr>
                                    <tr>
                                        <th>Location                          :</th>
                                        <td>
                                            Bahria Town                            ,
                                            Lahore
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Bedrooms                              :</th>
                                        <td>                                5                                                              </td>
                                    </tr>
                                    <tr>
                                        <th>Bathrooms                                :</th>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <th>Area                                  :</th>
                                        <td>7 Marla</td>
                                    </tr>
                                    <tr>
                                        <th>Added                                    :</th>
                                        <td>2 months ago                                    </td>
                                    </tr>
                                    <tr>
                                        <th>Marketed By                                      :</th>
                                        <td>Zaheer Ismail</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="clear:both">
                                <h1 class="page-header branches-heading">General Amenities</h1>
                                <div class="col-lg-5 col-md-5 col-xs-12 padding feat-col-right">
                                    <h6><strong>Main Features</strong></h6>
                                    <ul id="feat-list" class="list">
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-12 padding ">
                                    <h6><strong>Rooms</strong></h6>
                                    <ul id="feat-list" class="list">
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                                <div class="col-lg-5 col-md-5 col-xs-12 padding feat-col-right">
                                    <h6>
                                        <strong>
                                            Other Facilities
                                        </strong>
                                    </h6>
                                    <ul id="feat-list" class="list">
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                        <li>
                                            <span class="feat-label">:  </span>
                                            <span class="span-right"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="map-wrap clearfix">
                        <span class="map-label"></span>
                        <div id="property_map"> </div>
                        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
                        <script type="text/javascript">
                            // Google Map
                            function initialize() {
                                var geocoder = new google.maps.Geocoder();
                                var map;
                                var latlng = new google.maps.LatLng(31.413117535396, 74.207396730781);
                                var infowindow = new google.maps.InfoWindow();
                                var myOptions = {
                                    zoom: 14,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                };

                                map = new google.maps.Map(document.getElementById("property_map"), myOptions);

                                geocoder.geocode({ 'location': latlng },
                                    function (results, status) {
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            map.setCenter(results[0].geometry.location);
                                            var marker = new google.maps.Marker({
                                                map: map,
                                                position: results[0].geometry.location
                                            });

                                        }
                                        else {

                                        }
                                    });

                            }

                            initialize();
                        </script>
                    </div>

                </div>
                <!-- end content -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last clearfix">
                    <div id="prop-price"><strong>PKR&nbsp;10,500,000</strong></div>

                    <div id="agent-box" class="seperate-box clearfix" data-effect="slide-right">

                        <h1>Agent Detail</h1>
                        <table class="table table-hover">

                            <tbody>


                                <tr>
                                    <td>Name: </td>
                                    <td>Zaheer Ismail</td>
                                </tr>


                                <tr>
                                    <td>E-mail: </td>
                                    <td>zaheeerismail1990@gmail.com</td>
                                </tr>

                                <tr>
                                    <td>Cell: </td>
                                    <td>+92-3214850382</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><div id="contact-box" class="seperate-box clearfix" data-effect="slide-right">
                        <h1>Contact Us</h1>
                        <div class="contact_form_holder">
                            <form id="ftr_form" class="" name="form1" method="post" action="">
                                <div class="span4">
                                    <label>
                                        Name <span class="req">
                                            <i>
                                                (
                                                required            )
                                            </i>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" name="name" id="ftr_name">
                                </div>
                                <div class="span4">
                                    <label>
                                        E-mail <span class="req">
                                            <i>
                                                (
                                                required            )
                                            </i>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" name="email" id="ftr_email">
                                    <div id="error_email" class="error"></div>
                                </div>
                                <div class="span8">
                                    <label>
                                        Message <i>
                                            (
                                            required            )
                                        </i>
                                    </label>
                                    <textarea cols="6" rows="6" name="message" id="ftr_message" class="form-control message-details"></textarea>
                                    <div id="error_message" class="error"></div>
                                    <div id="mail_success" class="success"></div>
                                    <div id="mail_failed" class="error"></div>
                                    <input type="hidden" name="form" value="contact">
                                    <input type="hidden" name="mail_subject" value="Inquiry about agency.">
                                    <input type="hidden" name="mail_to" value="contactus@email.com">

                                </div>
                                <div class="span4 clear-float pos_rel">
                                    <input id="s1" type="submit" class="btn btn-primary blue-btn agent_detailpop" />
                                    <div class="errors_in_div"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="search-box" class="searchmodule clearfix" data-effect="slide-right">
                    <h3 class="search-heading">
                        Find Your Property
                    </h3>
                    <form id="advanced_search" action="http://www.chohan.com.pk/search.html" class="clearfix" name="advanced_search" method="get">
                        <input class="search-page" type="hidden" name="purpose" value="1">

                        <div class="purp_animate_label">
                            <div class="bg_animation"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pos_rel search_purp">

                                <label class="buy-modifier purpose">
                                    <span class="purpose_prominent">
                                        Buy
                                    </span>
                                </label>

                                <label class="rent-modifier rent">
                                    <span class="purpose_prominent">
                                        Rent
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 city-selector ">
                            <select id="inputCity" class="show-menu-arrow selectpicker" name="city_id">
                                <option value="0">Select City</option>
                                <option value="1">Lahore</option>
                                <option value="2">Karachi</option>
                                <option value="3">Islamabad</option>
                                <option value="">----------</option>
                                <option value="" selected>Abbottabad</option>
                                <option value="" selected>Abdul Hakim</option>
                                <option value="" selected>Alipur</option>
                                <option value="" selected>Arifwala</option>
                                <option value="" selected>Astore</option>
                                <option value="" selected>Attock</option>
                                <option value="" selected>Awaran</option>
                                <option value="" selected>Badin</option>
                                <option value="" selected>Bagh</option>
                                <option value="" selected>Bahawalnagar</option>
                                <option value="" selected>Bahawalpur</option>
                                <option value="" selected>Bannu</option>
                                <option value="" selected>Bhakkar</option>
                                <option value="" selected>Bhalwal</option>
                                <option value="" selected>Bhimber</option>
                                <option value="" selected>Buner</option>
                                <option value="" selected>Burewala</option>
                                <option value="" selected>Chaghi</option>
                                <option value="" selected>Chakwal</option>
                                <option value="" selected>Chichawatni</option>
                                <option value="" selected>Chiniot</option>
                                <option value="" selected>Chishtian Sharif</option>
                                <option value="" selected>Chitral</option>
                                <option value="" selected>Chunian</option>
                                <option value="" selected>Dadu</option>
                                <option value="" selected>Daska</option>
                                <option value="" selected>Depalpur</option>
                                <option value="" selected>Dera Ghazi Khan</option>
                                <option value="" selected>Dera Ismail Khan</option>
                                <option value="" selected>Dijkot</option>
                                <option value="" selected>Duniya Pur</option>
                                <option value="" selected>Faisalabad</option>
                                <option value="" selected>FATA</option>
                                <option value="" selected>Fateh Jang</option>
                                <option value="" selected>Gaarho</option>
                                <option value="" selected>Galyat</option>
                                <option value="" selected>Ghotki</option>
                                <option value="" selected>Gilgit</option>
                                <option value="" selected>Gojra</option>
                                <option value="" selected>Gujar Khan</option>
                                <option value="" selected>Gujranwala</option>
                                <option value="" selected>Gujrat</option>
                                <option value="" selected>Gwadar</option>
                                <option value="" selected>Hafizabad</option>
                                <option value="" selected>Haripur</option>
                                <option value="" selected>Haroonabad</option>
                                <option value="" selected>Hasilpur</option>
                                <option value="" selected>Hassan Abdal</option>
                                <option value="" selected>Haveli Lakha</option>
                                <option value="" selected>Hub (Hub Chowki)</option>
                                <option value="" selected>Hunza</option>
                                <option value="" selected>Hyderabad</option>
                                <option value="" selected>Islamabad</option>
                                <option value="" selected>Jacobabad</option>
                                <option value="" selected>Jahanian</option>
                                <option value="" selected>Jalalpur Jattan</option>
                                <option value="" selected>Jampur</option>
                                <option value="" selected>Jauharabad</option>
                                <option value="" selected>Jhang</option>
                                <option value="" selected>Jhelum</option>
                                <option value="" selected>Kaghan</option>
                                <option value="" selected>Kahror Pakka</option>
                                <option value="" selected>Kalat</option>
                                <option value="" selected>Kamalia</option>
                                <option value="" selected>Kamoki</option>
                                <option value="" selected>Karachi</option>
                                <option value="" selected>Karak</option>
                                <option value="" selected>Kasur</option>
                                <option value="" selected>Khairpur</option>
                                <option value="" selected>Khanewal</option>
                                <option value="" selected>Khanpur</option>
                                <option value="" selected>Kharian</option>
                                <option value="" selected>Khushab</option>
                                <option value="" selected>Khuzdar</option>
                                <option value="" selected>Kohat</option>
                                <option value="" selected>Kot Addu</option>
                                <option value="" selected>Kotli</option>
                                <option value="" selected>Lahore</option>
                                <option value="" selected>Lakki Marwat</option>
                                <option value="" selected>Lalamusa</option>
                                <option value="" selected>Larkana</option>
                                <option value="" selected>Lasbela</option>
                                <option value="" selected>Layyah</option>
                                <option value="" selected>Lodhran</option>
                                <option value="" selected>Loralai</option>
                                <option value="" selected>Lower Dir</option>
                                <option value="" selected>Mailsi</option>
                                <option value="" selected>Makran</option>
                                <option value="" selected>Malakand</option>
                                <option value="" selected>Mandi Bahauddin</option>
                                <option value="" selected>Mansehra</option>
                                <option value="" selected>Mardan</option>
                                <option value="" selected>Matiari</option>
                                <option value="" selected>Mian Channu</option>
                                <option value="" selected>Mianwali</option>
                                <option value="" selected>Mingora</option>
                                <option value="" selected>Mirpur</option>
                                <option value="" selected>Mirpur Khas</option>
                                <option value="" selected>Mirpur Sakro</option>
                                <option value="" selected>Multan</option>
                                <option value="" selected>Murree</option>
                                <option value="" selected>Muzaffarabad</option>
                                <option value="" selected>Muzaffargarh</option>
                                <option value="" selected>Nankana Sahib</option>
                                <option value="" selected>Naran</option>
                                <option value="" selected>Narowal</option>
                                <option value="" selected>Nasirabad</option>
                                <option value="" selected>Naushahro Feroze</option>
                                <option value="" selected>Nawabshah</option>
                                <option value="" selected>Neelum</option>
                                <option value="" selected>Nowshera</option>
                                <option value="" selected>Okara</option>
                                <option value="" selected>Others</option>
                                <option value="" selected>Others Azad Kashmir</option>
                                <option value="" selected>Others Balochistan</option>
                                <option value="" selected>Others Gilgit Baltistan</option>
                                <option value="" selected>Others Khyber Pakhtunkhwa</option>
                                <option value="" selected>Others Punjab</option>
                                <option value="" selected>Others Sindh</option>
                                <option value="" selected>Pakpattan</option>
                                <option value="" selected>Peshawar</option>
                                <option value="" selected>Pind Dadan Khan</option>
                                <option value="" selected>Pir Mahal</option>
                                <option value="" selected>Quetta</option>
                                <option value="" selected>Rahim Yar Khan</option>
                                <option value="" selected>Rajanpur</option>
                                <option value="" selected>Ratwal</option>
                                <option value="" selected>Rawalkot</option>
                                <option value="" selected>Rawalpindi</option>
                                <option value="" selected>Rohri</option>
                                <option value="" selected>Sadiqabad</option>
                                <option value="" selected>Sahiwal</option>
                                <option value="" selected>Samundri</option>
                                <option value="" selected>Sanghar</option>
                                <option value="" selected>Sargodha</option>
                                <option value="" selected>Sehwan</option>
                                <option value="" selected>Shahdadpur</option>
                                <option value="" selected>Sheikhupura</option>
                                <option value="" selected>Shikarpur</option>
                                <option value="" selected>Shorkot</option>
                                <option value="" selected>Sialkot</option>
                                <option value="" selected>Sibi</option>
                                <option value="" selected>Skardu</option>
                                <option value="" selected>Sudhnoti</option>
                                <option value="" selected>Sukkur</option>
                                <option value="" selected>Swabi</option>
                                <option value="" selected>Swat</option>
                                <option value="" selected>Tando Adam</option>
                                <option value="" selected>Tando Allahyar</option>
                                <option value="" selected>Taxila</option>
                                <option value="" selected>Thatta</option>
                                <option value="" selected>Toba Tek Singh</option>
                                <option value="" selected>Vehari</option>
                                <option value="" selected>Wah</option>
                                <option value="" selected>Wazirabad</option>
                                <option value="" selected>Waziristan</option>
                                <option value="" selected>Zhob</option>
                            </select>
                        </div>
                        <div id="inputLocation_box" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type='hidden' value='' class="form-control" />
                            <input type="text" id="inputLoc" name="location" value="" disabled="disabled" class="form-control" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                            <label for="types"></label>
                            <select id="types" class="show-menu-arrow selectpicker" name="type">
                                <option id="0" value="0">
                                    Select Type
                                </option>
                                <option value="9,8,21,22,20,24,25">
                                    <b>
                                        --
                                        Homes        --
                                    </b>
                                </option>
                                <option value="9">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Houses
                                </option>
                                <option value="8">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Flats
                                </option>
                                <option value="21">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Upper Portions
                                </option>
                                <option value="22">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Lower Portions
                                </option>
                                <option value="20">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Farm Houses
                                </option>
                                <option value="24">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Rooms
                                </option>
                                <option value="25">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Penthouse
                                </option>
                                <option value="12,23,11,19,26,27">
                                    <b>
                                        --
                                        Plots        --
                                    </b>
                                </option>
                                <option value=12>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Residential Plots
                                </option>
                                <option value=23>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Plot Files
                                </option>
                                <option value=11>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Commercial Plots
                                </option>
                                <option value=19>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Agricultural Land
                                </option>
                                <option value=26>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Plot Forms
                                </option>
                                <option value=27>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Industrial Land
                                </option>
                                <option value="13,15,17,14,16,18">
                                    <b>
                                        --
                                        Commercial        --
                                    </b>
                                </option>
                                <option value=13>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Offices
                                </option>
                                <option value=15>
                                    &nbspnbsp;&nbsp;&nbsp;&nbsp;
                                    Shops
                                </option>
                                <option value=17>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Warehouses
                                </option>
                                <option value=14>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Factories
                                </option>
                                <option value=16>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Buildings
                                </option>
                                <option value=18>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Other
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="bedrooms"></label>
                            <select id="bedrooms" class="show-menu-arrow selectpicker" name="beds">
                                <option value="">
                                    Any Beds
                                </option>
                                <option value="-1">
                                    Studio
                                </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7+</option>
                            </select>
                        </div>

                        <div id="min-price-con" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 price-menu">
                            <select name="min_price" id="min-price" class="show-menu-arrow selectpicker">
                                <option value="">
                                    No Min Price
                                </option>
                                <option value="5000">
                                    5000
                                </option>
                                <option value="10000">
                                    10000
                                </option>
                                <option value="20000">
                                    20000
                                </option>
                                <option value="50000">
                                    50000
                                </option>
                                <option value="100000">
                                    1Lakh
                                </option>
                                <option value="200000">
                                    2Lakh
                                </option>
                                <option value="500000">
                                    5Lakh
                                </option>
                                <option value="1000000">
                                    10Lakh
                                </option>
                                <option value="2000000">
                                    20Lakh
                                </option>
                                <option value="5000000">
                                    50Lakh
                                </option>
                                <option value="10000000">
                                    1Crore
                                </option>
                                <option value="20000000">
                                    2Crore
                                </option>
                            </select>
                        </div>
                        <div id="max-price-con" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 price-menu">
                            <select name="max_price" id="max-price" class="show-menu-arrow selectpicker">
                                <option value="">
                                    No Max Price
                                </option>
                                <option value="10000">
                                    10000
                                </option>
                                <option value="20000">
                                    20000
                                </option>
                                <option value="50000">
                                    50000
                                </option>
                                <option value="100000">
                                    1Lakh
                                </option>
                                <option value="200000">
                                    2Lakh
                                </option>
                                <option value="500000">
                                    5Lakh
                                </option>
                                <option value="1000000">
                                    10Lakh
                                </option>
                                <option value="2000000">
                                    20Lakh
                                </option>
                                <option value="5000000">
                                    50Lakh
                                </option>
                                <option value="10000000">
                                    1Crore
                                </option>
                                <option value="20000000">
                                    2Crore
                                </option>
                                <option value="50000000">
                                    5Crore
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clear-float">
                            <label class="control-label" for="inputBaths">
                                Min Land Area
                            </label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <input type="text" name="min_land" class="form-control" value="">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 area-padding ">
                            <select class="show-menu-arrow selectpicker" name="land_unit">

                                <option selected value="unit1">
                                    Marla
                                </option>
                                <option value="unit2">
                                    Kanal
                                </option>
                            </select>

                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <a onclick="document.forms['advanced_search'].submit();" class="btn btn-inverse btn-block"><i class="bg-ico search-white-ico"></i> SEARCH PROPERTY</a> </div>
                    </form>
                </div>
                <!--Hiden content changer-->
                <div class="ele-hide">
                    <div id="rent-min-sel-con">
                        <select id="rent-min-sel" class="show-menu-arrow selectpicker">
                            <option value="">
                                No Min Price
                            </option>
                            <option value="1000">
                                1000
                            </option>
                            <option value="5000">
                                5000
                            </option>
                            <option value="10000">
                                10000
                            </option>
                            <option value="20000">
                                20000
                            </option>
                            <option value="50000">
                                50000
                            </option>
                            <option value="100000">
                                1 Lakh
                            </option>
                            <option value="200000">
                                2 Lakh
                            </option>
                        </select>
                    </div>
                    <div id="rent-max-sel-con">
                        <select id="rent-max-sel" class="show-menu-arrow selectpicker">
                            <option value="">
                                No Max Price
                            </option>
                            <option value="5000">
                                5000
                            </option>
                            <option value="10000">
                                10000
                            </option>
                            <option value="20000">
                                20000
                            </option>
                            <option value="50000">
                                50000
                            </option>
                            <option value="100000">
                                1 Lakh
                            </option>
                            <option value="200000">
                                2 Lakh
                            </option>
                            <option value="500000">
                                5 Lakh
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ele-hide">
                    <div id="buy-min-sel-con">
                        <select id="buy-min-sel" class="show-menu-arrow selectpicker">
                            <option value="">No Min Price</option>
                            <option value="100000">1 Lakh</option>
                            <option value="200000">2 Lakh</option>
                            <option value="500000">5 Lakh</option>
                            <option value="1000000">10 Lakh</option>
                            <option value="2000000">20 Lakh</option>
                            <option value="5000000">50 Lakh</option>
                            <option value="10000000">1 Crore</option>
                            <option value="20000000">2 Crore</option>
                        </select>
                    </div>
                    <div id="buy-max-sel-con">
                        <select id="buy-max-sel" class="show-menu-arrow selectpicker">
                            <option value="">No Max Price</option>
                            <option value="200000">2 Lakh</option>
                            <option value="500000">5 Lakh</option>
                            <option value="1000000">10 Lakh</option>
                            <option value="2000000">20 Lakh</option>
                            <option value="5000000">50 Lakh</option>
                            <option value="10000000">1 Crore</option>
                            <option value="20000000">2 Crore</option>
                            <option value="50000000">5 Crore</option>
                        </select>
                    </div>
                </div>

            </div>
            <!-- end of widget -->
        </div>
        <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!--[if lt IE 9]><script>(function(){e("http://agency.zameen.com/templates/template_8/images_css/")})()</script><![endif]-->
  
    <!-- end copyright -->
    <!-- Bootstrap core and JavaScript's
        ================================================== -->
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.unveilEffects.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/retina-1.1.0.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/fhmm.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/application.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/autofill.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/scripts.js"></script>

    <!-- FlexSlider JavaScript
        ================================================== -->
    <!--
    <script>
            $(window).load(function() {
                $('#carousel').flexslider({
                    animation: "slide",
                    controlNav: true,
                    directionNav: false,
                    animationLoop: true,
                    slideshow: true,
                    itemWidth: 114,
                    itemMargin: 0,
                    asNavFor: '#slider'
                });

                $('#slider').flexslider({
                    animation: "fade",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: true,
                    sync: "#carousel"
                });

                $('#property-slider .flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 6000,
                    animationSpeed:	1300,
                    directionNav: true,
                    controlNav: false,
                    keyboardNav: true
                });
            });
        </script>
         -->
    <script type='text/javascript'>
$(window).load(function () {
    $('#carousel').flexslider({
        animation: "slide",
        controlNav: true,
        directionNav: false,
        animationLoop: true,
        slideshow: true,
        itemWidth: 114,
        itemMargin: 0,
        asNavFor: '#slider'
    });

    $('#slider').flexslider({
        animation: "fade",
        controlNav: false,
        animationLoop: false,
        slideshow: true,
        sync: "#carousel"
    });

    $('#property-slider .flexslider').flexslider({
        animation: "fade",
        slideshowSpeed: 6000,
        animationSpeed: 1300,
        directionNav: true,
        controlNav: false,
        keyboardNav: true
    });
});</script>
